*.ipynb_checkpoints
*.DS_Store
*.csv
*.h5
*.jpg
*.jpeg
*.csv
*.xlsx
*.ipynb
__pycache__/
tflogs/
input/
*.npy
.idea/
ASVspoof2019_LA_train/
inference_data/
ASVspoof2019_LA_cm_protocols/
ASVspoof2019_LA_asv_protocols/

