librosa==0.7.0
numpy==1.15.1
joblib==0.13.0
scipy==1.1.0
scikit_optimize==0.5.2
tensorflow-gpu==2.3.1
tqdm==4.28.1
matplotlib==3.0.1
pydub==0.23.1
Keras==2.2.4
lws==1.2.5
nlpaug==0.0.8
scikit_learn==0.21.3
PyYAML==5.1.2